<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Forum</title>
    {% block head %}
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <h1 align="center">Forum</h1>

    {% endblock %}
</head>
<body>
<a href="/">home</a>

{% if params.username %}
    <a href="/logout">logout</a>
    <a href="/user_page/{{ params.uid }}"> {{ params.username }}</a>
    {% set logged = "true" %}
{% else %}
    <a href="/login"> login</a>
    <a href="/register">register</a>
    {% set logged = "false" %}
{% endif %}

<div id="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}

    {% endblock %}
</div>
</body>
</html>