{% extends "ForumTemplate.html.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <h1>Categories </h1>
    <ul class="list-group">
        {% for value in params %}
            <li class="list-group-item">
                <a href=/category/{{ value.id }}> {{ value.name }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
