{% extends "ForumTemplate.html.twig" %}

{% block title %}404{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="card text-center">
        <div class="card-header">
            <h1>404</h1>
        </div>
        <div class="card-body">
            <h5 class="card-title">Page not found</h5>
        </div>
    </div>
{% endblock %}