{% extends "ForumTemplate.html.twig" %}

{% block title %}Register{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

    <div class="container">
        <div class="col-lg-4">
            <div class="jumbotron" style="margin-top:150px">
                <h3>Register</h3>
                <form action="/register_user" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" name="username" required/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="E-mail" name="email" required/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="pass" required minlenght=6/>
                    </div>
                    <button type="submit" class="btn btn-primary form-control">Register</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
{% endblock %}